@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DM_Sans/DMSans-Regular.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DM_Sans/DMSans-Medium.ttf')  format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DM_Sans/DMSans-Bold.ttf')  format('truetype');
  font-weight: 700;
}

body {
  font-family: "DMSans", sans-serif;
  background-color: #171717;
  color: white;
}
.header {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.menu2 {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 40px;
}

.logo {
  position: absolute;
  font-size: 35px;
  margin: 30px 80px;
  color: white;
  text-decoration: none;
}
.menu {
  list-style: none;
  text-align: right;
  padding: 40px 85px;
}
li {
  display: inline;
}
h1 {
  padding: 255px 130px;
  position: absolute;
  font-size: 50px;
}
.fronted {
  position: absolute;
  padding: 385px 130px;
  color: gray;
  font-size: 20px;
}
.botton1,
.botton2 {
  position: absolute;
  display: inline;
}
.botton1 {
  margin: 450px 130px;
}
.botton2 {
  margin: 450px 265px;
}
.botton1 a,
.botton2 a {
  color: white;
  text-decoration: none;
}
.botton1 a {
  padding: 10px 15px;
  background-color: #27ae60;
}
.botton2 a {
  border: solid 1px #f2f2f2;
  padding: 9px 14px;
}
.about {
  text-align: center;
  font-size: 50px;
}
.lorem {
  text-align: center;
  margin-right: 350px;
  margin-left: 345px;
  font-size: 20px;
}
.photo {font-weight: 500;
  text-align: right;
  margin: 25px 100px;
}
.imagine {
  border: 2px solid black;
  border-radius: 1000px;
}
.contacts {
  display: flex;
  justify-content: center;
}
.names {
  margin: 50px;
  text-align: center;
}
.ellipse {
  clip-path: ellipse(30px 30px);
  background: #212121;
  border: 35px solid #212121;
}
.ellipse2 {
  clip-path: ellipse(10px 10px);
  background: #27ae60;
  border: 10px solid #27ae60;
}
.names p {
  font-size: 20px;
}


.tecnologies {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.tecnology {
  flex-basis: 33%;
  background-color: #212121;
  padding: 35px 50px;
}

.tecnology--active {
  border-bottom: 5px solid #27AE60;
}

.tecnology-name {
  color: #535353;
  font-size: 36px;
  font-weight: 500;
  margin: 30px 0 0 0;
}


.vector {
  padding: 5px 75px;
  margin: 50px;
  background: #212121;
  color: #535353;
  font-size: 35px;
}
.vector1 {
  border-bottom: solid 5px #27ae60;
  margin: -35px -75px;
}
.skills {
  display: flex;
  height: 235px;
  justify-content: center;
}
.Software {
  padding: 15px 90px;
  background: #212121;
  font-size: 35px;
}
.percentage {
  color: #4f4f4f;
  text-align: center;
}
.class {
  color: #27ae60;
  text-align: center;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  margin: 0 auto;
}

.form-container-row {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.form-container-row > * {
  width: 50%;
}

.form-input,
.form-input input,
.form-input textarea {
  width: 100%;
}

.form-input input:focus-visible,
.form-input textarea:focus-visible {
  outline: none;
}

.form-container-row .form-input:first-child {
  margin-right: 18px;
}

.form-container-row .form-input:last-child {
  margin-left: 18px;
}

.form-input input, .form-input textarea {
  background-color: #171717;
  border: 0;
  border-bottom: solid 2px #4f4f4f;
  color: #4F4F4F;
  padding-bottom: 10px;
}

.form-input textarea {
  min-height: 110px;
  border: solid 2px #4f4f4f;
}

.form-submit {
  display: flex;
  justify-content: center;
}

#submit {
  margin-top: 35px;
  padding: 10px;
  background-color: #27ae60;
  color: white;
}
footer{
  text-align: center;
  color: #4f4f4f;
  margin-top: 170px;
}
/* hover */
li :hover {
  border-bottom: solid 2px blue;

}
.botton1 :hover {
  border: solid 2px blue;
}
.botton2 :hover  {
  border: solid 2px blue;
}
#submit:hover {
  border: solid 2px blue;
}
