body {
  color: #ffffff;
  font-family: 'Titillium Web';
}
.container-header {
  display: grid;
  background-color: #87509c;
  color: #ffffff;
}
.header {
  width: 100%;
}
.logo {
  position: absolute;
  padding-top: 40px;
  padding-left: 210px;
}
.menu2 {
  color: #d9d9d9;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 10px;
}
.menu {
  text-align: right;
  list-style: none;
  padding-top: 55px;
  padding-right: 210px;
  margin-top: -10px;
}
.menu li {
  display: inline;
}
.header-h2 {
  text-align: center;
  font-size: 42px;
}
.bottom1 {
  display: inline;
  margin-top: 25px;
  margin-left: 625px;
  margin-bottom: 135px;
}
.bottom1 a {
  text-decoration: none;
  color: #ffffff;
  background: #eb7d4b;
  padding: 20px 65px;
  border-radius: 5px;
  border-bottom: 4px solid #c86a40;
}
.container-services {
  display: grid;
  background: #17c2a4;
}
.line {
  position: absolute;
  border-bottom: solid 5px #00000021;
  width: 100px;
  margin-left: 705px;
  margin-top: 85px;
}
.services-h2 {
  text-align: center;
  font-size: 40px;
}
.services-p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 0px;
}
.contacts {
  display: flex;
  justify-content: center;
  gap: 110px;
  text-align: center;
}
.container-team {
  display: grid;
  background: #e7f1f8;
}
.team--h2 {
  text-align: center;
  font-size: 40px;
  color: #3c4761;
}
.team--p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 0px;
  color: #3c4761;
}
.team-h2 {
  color: #27283d;
  font-size: 24px;
}
.team-h3 {
  color: #30bae7;
  font-size: 15px;
}
.team-p {
  color: #3c4761;
  font-size: 15px;
}
.social {
  padding-bottom: 110px;
}
.container-skills {
  display: grid;
}
.skills--h2 {
  text-align: center;
  font-size: 40px;
  color: #3c4761;
}
.skills--p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 0px;
  color: #3c4761;
}
.skills-h2 {
  color: #3c4761;
  font-size: 25px;
  padding-bottom: 95px;
}
.container-portfolio {
  display: grid;
  background: #ffdd99;
}
.portfolio--h2 {
  text-align: center;
  font-size: 40px;
  color: #393939;
}
.portfolio--p {
  text-align: center;
  font-size: 18px;
  margin-top: 0px;
  color: #393939;
}
.categories {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 48px;
}
.categories a {
  text-decoration: none;
  color: #393939;
  background: #00000012;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 5px;
  font-size: 18px;
}
.container-works {
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  margin: 0 auto;
}
.container-works-row {
  display: flex;
  margin-bottom: 50px;
  gap: 20px;
}
.works-p {
  text-align: center;
  color: #393939;
  font-size: 18px;
}
.bottom2 {
  display: inline;
  margin-top: 25px;
  margin-left: 625px;
  margin-bottom: 95px;
}
.bottom2 a {
  text-decoration: none;
  color: #ffffff;
  background: #17c2a4;
  padding: 20px 65px;
  border-radius: 5px;
  border-bottom: 4px solid #14a58c;
}
.container-people {
  display: grid;
  background: #d74680;
}
.people--h2 {
  text-align: center;
  font-size: 40px;
}
.people--p {
  text-align: center;
  font-size: 18px;
  margin-top: -10px;
}
.container--people {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 80px auto;
  margin-left: 215px;
}
.container--people-row {
  display: flex;
  margin-bottom: 50px;
  gap: 115px;
}
.container--people .container--people-row:first-child {
  gap: 80px;
}
.people-p {
  float: right;
  margin-left: 50px;
  font-size: 20px;
}
.people-h2 {
  text-align: center;
  font-size: 25px;
}
.people-p-orange {
  text-align: center;
  font-size: 18px;
  color: #ffdd99;
  margin-top: -25px;
}
.form-container {
  display: grid;
  background: #3c5499;
}
.form-h2 {
  text-align: center;
  font-size: 40px;
}
.form-p {
  text-align: center;
  font-size: 18px;
  margin-top: -10px;
}
form {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 65px;
}
.form-container-inline {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}
.form-input input:focus-visible,
.form-input textarea:focus-visible {
  outline: none;
}
.form-container-inline .form-input:first-child {
  margin-right: 16px;
}

.form-container-inline .form-input:last-child {
  margin-left: 16px;
}
.form-input input,
.form-input textarea {
  background-color: #273a71;
  border: 0;
  color: #ffffff;
  padding-bottom: 10px;
  padding-right: 245px;
  min-height: 30px;
}
.form-input textarea {
  min-height: 175px;
  padding-left: 443px;
}
.form-submit {
  display: flex;
  justify-content: center;
}
#submit {
  color: #ffffff;
  background: #30bae7;
  padding: 20px 65px;
  border-radius: 5px;
  border: 0;
  border-bottom: 4px solid #299ec5;
  margin-top: 50px;
  margin-bottom: 100px;
  
}
.container-footer {
  display: grid;
  background: #344b8e;
}
footer {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
.footer {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  margin: 35px;
}
.menu2:hover {
  background-color: #87509C;
  border-left: 1px solid rgba(0, 0, 0, 0.176);
  border-right: 1px solid rgba(0, 0, 0, 0.176);
  border-bottom: 5px solid rgba(0, 0, 0, 0.176);
}
.categories1:hover {
  background-color: #ffffff;
}
.footer:hover {
  color: #30bae7;
}