body {
  color: #ffffff;
}
.container-header {
  display: grid;
  background-color: #87509c;
  color: #ffffff;
}
.header {
  width: 100%;
}
.logo {
  position: absolute;
  padding-top: 40px;
  padding-left: 210px;
}
.menu2 {
  color: #d9d9d9;
  text-decoration: none;
  font-size: 15px;
  margin: 25px;
}
.menu {
  text-align: right;
  list-style: none;
  padding-top: 55px;
  padding-right: 210px;
  margin-top: -10px;
}
.menu li {
  display: inline;
}
.header-h2 {
  text-align: center;
  font-size: 42px;
}
.bottom1 {
  display: inline;
  margin-top: 25px;
  margin-left: 625px;
  margin-bottom: 135px;
}
.bottom1 a {
  text-decoration: none;
  color: #ffffff;
  background: #eb7d4b;
  padding: 20px 65px;
  border-radius: 5px;
  border-bottom: 4px solid #c86a40;
}
.container-services {
  display: grid;
  background: #17c2a4;
}
.line {
  position: absolute;
  border-bottom: solid 5px #00000021;
  width: 100px;
  margin-left: 705px;
  margin-top: 80px;
}
.services-h2 {
  text-align: center;
  font-size: 40px;
}
.services-p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 0px;
}
.contacts {
  display: flex;
  justify-content: center;
  gap: 110px;
  text-align: center;
}
.container-team {
  display: grid;
  background: #e7f1f8;
}
.team--h2 {
  text-align: center;
  font-size: 40px;
  color: #3c4761;
}
.team--p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 0px;
  color: #3c4761;
}
.team-h2 {
  color: #27283d;
  font-size: 24px;
}
.team-h3 {
  color: #30bae7;
  font-size: 15px;
}
.team-p {
  color: #3c4761;
  font-size: 15px;
}
.social {
  padding-bottom: 110px;
}
.container-skills {
  display: grid;
}
.skills--h2 {
  text-align: center;
  font-size: 40px;
  color: #3c4761;
}
.skills--p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 0px;
  color: #3c4761;
}
.skills-h2 {
  color: #3c4761;
  font-size: 25px;
  padding-bottom: 95px;
}
.container-portfolio {
  display: grid;
  background: #ffdd99;
}
.portfolio--h2 {
  text-align: center;
  font-size: 40px;
  color: #393939;
}
.portfolio--p {
  text-align: center;
  font-size: 18px;
  margin-top: 0px;
  color: #393939;
}
.categories {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 48px;
}
.categories a {
  text-decoration: none;
  color: #393939;
  background: #00000012;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 5px;
  font-size: 18px;
}
.container-works {
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  margin: 0 auto;
}
.container-works-row {
  display: flex;
  margin-bottom: 50px;
  gap: 20px;
}
.works-p {
  text-align: center;
  color: #393939;
  font-size: 18px;
}
.bottom2 {
  display: inline;
  margin-top: 25px;
  margin-left: 625px;
  margin-bottom: 95px;
}
.bottom2 a {
  text-decoration: none;
  color: #ffffff;
  background: #17c2a4;
  padding: 20px 65px;
  border-radius: 5px;
  border-bottom: 4px solid #14a58c;
}
.container-people {
  display: grid;
  background: #d74680;
}
.people--h2 {
  text-align: center;
  font-size: 40px;
}
.people--p {
  text-align: center;
  font-size: 18px;
  margin-top: -10px;
}
